* {
    margin: 0;
    padding: 0;
    font-family: Cambria, 'Times New Roman', serif;
}
 .jumbotron {
    background-image: url('photos/BG-no-logo.png');
    height: 80vh;
    background-size: cover;
    background-position: top;
    color: white;
    border-radius: 0 !important;
}
 .jumbotron h1 {
     margin: 20px 0;
     font-size: 30px;
     line-height: 1.5;
     color: mediumpurple;
 }
 .intro {
     padding-top: 170px;
 }
 .intro img {
     width: 420px;
 }
#line1 {
    width:250px;
    min-height: fit-content;
    background: mediumpurple;
    margin: 30px auto;
}
#line2 {
    width: 150px;
    height: 2px;
    background: black;
    margin: 30px auto;
}
 .navbar-nav a {
     color: white!important;
     margin: 30px 20px 0;
 }
 .navbar-toggler {
     color: white!important;
     border: none!important;
     outline: none!important;
 }
 .navbar-toggler .fa {
     color: mediumpurple;
     font-size: 26px;
 }
 .nav-link {
     font-size: x-large;
 }
 .nav-link:hover {
     font-weight: 600;
     border-bottom: 1px solid white;
     margin-bottom: -1px;
     color: mediumslateblue;
 }
 .header .btn{
     border: 1px solid white;
     margin-top: 20px;
     padding:6px 26px;
     font-size: 16px;
 }
 #text1 {
     background-image: url("photos/water-colors.jpg");
     min-height: 60vh;
     width: 100%;
     background-position: center;
     background-size: cover;
 }
 #text1 {
     min-height: auto;
     padding-top: 5rem;
     padding-bottom: 5rem;

 }
#glass-card1{
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: center;
    min-width: auto;
    min-height: auto;
    background: rgba(255,255,255,0.2);
    border-radius: 20px;
    border: 1px solid #ffffff;
}
#glass-card1::before {
    content: '';
    position: center;
    top: 0;
    left: 0;
    width: 100%;
    min-height: auto;
    background: rgba(255,255,255,0.2);
    pointer-events: none;
}
 #vid-1, #vid-2, #vid-3 {
     width: 100px;
    max-height: 10rem;
     margin-bottom: 5rem;
 }
 #video-player{
     min-height: 35rem;
     background-color: black;
 }
.stuck .navbar.fixed-top {
background-color: rgba(255,255,255, .4);
    backdrop-filter: blur(7px);
}
.fixed-top {
    transition: all 0.25s ease-in;
}

.card{
    position: relative;
    overflow: hidden;
}
.card:before{
    position: absolute;
    content: '';
    width: 90%;
    height: 200%;
    background: rgba(147,112,219, 0.9);
    top: -15%;
    left:-100%;
    z-index: 1;
    rotate: 25deg;
    transform-origin: center top 0;
    transition: .5s;
}
.card:hover:before {
    left:10%;
}
.card img {
    margin-outside: 3rem;
    width: 100%;
    height: 15rem;
}
.card-text{
    width: 100%;
    padding: 0 20px;
    position: absolute;
    top:-100%;
    color: #fff;
    left: 0;
    z-index: 2;
    transition: 1s;
}
.card-text h3{
    font-family: Cambria, serif;
}
.card:hover .card-text {
    top: 80px;
}
#vid-1{
    margin-top: 3rem;

    min-height: 15rem;
    width: 85%;
}
#vid-2 {
    margin-top: 3rem;
    min-height: 15rem;
    width: 85%;
}
#vid-3 {
    margin-top: 3rem;
    min-height: 15rem;
    width: 85%;
}
#video-player {
   min-height: auto;
}
#text2 {
    background-image: url("photos/water-colors.jpg");
    min-height: 60vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}
#text2 {
padding-top: 10rem;
}
#glass-card2{
    padding-top: 3rem;
    position: center;
    min-width: 300px;
    min-height: 200px;
    background: rgba(255,255,255,0.2);
    border-radius: 20px;
    border: 1px solid #ffffff;
}
#glass-card2::before {
    content: '';
    position: center;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background: rgba(255,255,255,0.2);
    pointer-events: none;
}
#cookie-gallery{
    padding-top: 10rem;
    min-height: auto;
    padding-bottom: 10rem;
}
#card1 {
    min-height: auto;
}
#card2 {
    min-height: auto;
}
#card3 {
    min-height: auto;
}
#card4 {
    min-height: auto;
}
#card5 {
    min-height: auto;
}
#card6 {
    min-height: auto;
}
#cont-bg {
    background-image: url("photos/FA-logo2.jpg");
    height: 600px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius:0 !important;
    padding-top: 3rem;
}

#form {
    width: 80%;
}
#name {
    border: 3px solid black;
    color: black;
    background: rgba(255,255,255,0.7);
    font-size: 15px;
}
#email {
    border: 2px solid black;
    color: black;
    background: rgba(255,255,255,0.6);
    font-size: 15px;
}
#subject {
    border: 2px solid black;
    color: black;
    background: rgba(255,255,255,0.6);
    font-size: 15px;
}
#message {
    border: 3px solid black;
    color: black;
    background: rgba(255, 255, 255, 0.6);
    font-size: 15px;
}

#label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #ffffff;
    cursor: text;
}
.input {
    margin-bottom: 30px;
    position: relative;
}
#contact-col {
     padding-top: 0;
}
#us {
    font-size: xx-large;
    font-weight: bolder;
}
#vid-txt {
    padding-top: 3rem;
    color: white;
}
#row-text1 {
    display: flex;
    align-items: center;
    width: 100%;
}
#col-text1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media all and (max-width: 500px){

}
